{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="{% static 'student_app/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Confirm Delete</h1>
        <p>Are you sure you want to delete "{{ student.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Confirm">
        </form>
        <br>
        <a href="{% url 'student_list' %}"><button>Cancel</button></a>
    </div>
</body>
</html>
